{% extends 'Core/base.html' %}
{% block title %}Profile{% endblock title %}
{% block static %}
<link type="text/css" rel="stylesheet" href="/static/Account/css/change_password.css"/>

{% endblock static %}
{% block nav %}
	<ul class="main-nav nav navbar-nav">
		<li><a href="{% url 'Core:Home' %}">Home</a></li>
		{% for category in DisplayCategories %}
		<li><a href="/category/{{category.Slug}}/">{{category.Name}}</a></li>
		{% endfor %}
	</ul>
{% endblock nav %}


{% block body %}

<div class="all-form">
	<form method="post" class="signup-form">
		{% csrf_token %}
		<div class="form-div">
		<h3>Change Password</h3><hr>
		{% for message in messages %}
			<div class="message">
				{{message}}
			</div>
		{% endfor %}
		
			{% for field in form %}  
				{% if field.errors %}
					<div class="message">
						{{field.errors}}
					</div>
					<hr>
				{% endif %}
			{% endfor %}
			<div class="form-div">
				{% for field in form %}  
						{{ field }}                 
				{% endfor %}
				<input class="submit-form" type="submit" value="Change">
			</div>
			
		</div>
	</form>
</div>

{% endblock body %}