{% extends 'Core/base.html' %}
{% block title %}Login{% endblock title %}
{% block static %}
<link type="text/css" rel="stylesheet" href="/static/Account/css/login.css"/>

{% endblock static %}
{% block body %}


<form method="post" class="login-form">
	{% csrf_token %}

	<div class="form-div">
	<h3 class="login-title">Login</h3><hr>
	{% for message in messages %}
		<div class="message">
			{{message}}
		</div>
	{% endfor %}
		<input class="login-form-input" type="text" name="username" placeholder="username" required>
		<input class="login-form-input" type="password" name="password" placeholder="password" required>
		<input class="submit-form" type="submit" value="Login">
	</div>
</form>



{% endblock body %}