{% extends 'Core/base.html' %}
{% block title %}Login{% endblock title %}
{% block static %}
<link type="text/css" rel="stylesheet" href="/static/Account/css/login.css"/>

{% endblock static %}

{% block nav %}
	<ul class="main-nav nav navbar-nav">
		<li><a href="{% url 'Core:Home' %}">Home</a></li>
		{% for category in DisplayCategories %}
		<li><a href="/category/{{category.Slug}}/">{{category.Name}}</a></li>
		{% endfor %}
	</ul>
{% endblock nav %}

{% block body %}


<form method="post" class="login-form">
	{% csrf_token %}

	<div class="form-div">
	<h3 class="login-title">Login</h3><hr>
	{% for message in messages %}
		<div class="message">
			{{message}}
		</div>
	{% endfor %}
		<input class="login-form-input" type="text" name="username" placeholder="username" required>
		<input class="login-form-input" type="password" name="password" placeholder="password" required>
		<input class="submit-form" type="submit" value="Login">
	</div>
</form>



{% endblock body %}