.signup-form {
    padding: 5px 25px;
    margin: 55px auto;
    text-align: center;
    width: 90%;
}

.form-div {
    border: 1m solid #777;
    padding: 15px 25px;
    display: inline-block;
    box-shadow: 2px 2px 10px gray;
}

.submit-form {
    border: none;
    background-color: #d10024;
    padding: 4px 5px;
    margin: 20px auto 10px auto;
}

.message {
    background-color: #15161d96;
    padding: 5px;
}

.signup-form-input {
    margin: 10px;
    border: none;
    text-align: center;
    background-color: #15161d;
    height: 35px;
    color: white;
}